@import "../../utils/variables.scss";

header {
  @include bd-blur-black;
  height: 70px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  .container-lg {
    position: relative;

    img {
      height: 150px;
      left: 0;
      position: absolute;
      top: 0px;
      width: 150px;
    }

    .herader__content {
      align-items: center;
      display: flex;
      height: 75px;
      justify-content: space-between;
      padding-left: 200px;

      .hamburguer__menu {
        display: none;
      }

      .leagueoflegends {
        @include bd-blur-white;
        border-radius: 10px;
        box-shadow: none;
        color: #fff;
        font-weight: 700;
        padding: 12px 29px;
        text-shadow: $text-shadow;
      }

      .header__btns {
        display: flex;
        gap: 15px;

        .btn {
          align-items: center;
          background: transparent;
          border: none;
          border: solid 1px;
          border-radius: 10px;
          color: #fff;
          display: flex;
          gap: 12px;
          padding: 12px 27px;
          text-decoration: none;
          text-shadow: $text-shadow;
        }
      }
    }
  }
}

@media (max-width: 1230px) {
  header .container-lg .herader__content {
    .hamburguer__menu {
      @include bd-blur-white;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: block;
      padding: 0.5em;

      &:hover ~ .header__btns {
        display: block !important;
        transition: 1s ease all;
      }
    }

    .header__btns {
      border-radius: 10px;
      bottom: -220%;
      box-shadow: $box-shadow50;
      display: none !important;
      padding: 0.5em;
      position: absolute;
      right: 0;
      transition: 1s ease all;
      @include bd-blur-black;

      &:hover {
        display: block !important;
        transition: 1s ease all;
      }

      a {
        margin: 5px;
      }
    }
  }
}

@media (max-width: 510px) {
  header .container-lg .herader__content {
    padding-left: 160px;
  }
}

@media (max-width: 450px) {
  header .container-lg .herader__content {
    p {
      font-size: 12px;
    }
  }
}

@media (max-width: 410px) {
  header .container-lg .herader__content {
    justify-content: flex-end;

    p {
      display: none;
    }
  }
}
