@import "../../utils/variables.scss";

.kromac-toggle .kromac-checkbox input {
  margin: 0 !important;
}

.form__select__champions {
  position: relative;

  .label__free {
    color: #fff;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(120%, 25%);
    width: max-content;
  }
}

.form__container {
  .form__select {
    @include displayFlex;
    padding: 2em;
  }
}
