@import "../../utils/variables.scss";

.filled {
  background: var(--bg);
  color: #fff;
}

.select__custom {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  label {
    color: #fff;
    font-size: 16px;
  }

  img {
    filter: drop-shadow($box-shadow25);
    height: 50px;
    width: 50px;
  }

  .select__section__options {
    cursor: pointer;
    position: relative;

    .select__arrow {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 12px solid black;
      pointer-events: none;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
    }

    select {
      @include displayFlex;
      appearance: none;
      border: none;
      border-radius: $border-radius;
      box-shadow: $box-shadow25;
      cursor: pointer;
      font-size: 16px;
      height: 50px;
      justify-content: center;
      outline: none;
      position: relative;
      width: 150px;

      &:active {
        border: none;
        outline: none;
      }

      option {
        background-color: #fff;
        color: #000;
      }

      &.filled {
        @extend .filled;
      }
    }
  }

  .select__custom__multiple {
    bottom: -60%;
    display: flex;
    gap: 10px;
    position: absolute;

    .division__chip.filled {
      @extend .filled;
      width: max-content;
    }
  }
}

@media (max-width: 690px) {
  .select__custom__multiple {
    bottom: -80% !important;
  }
}

@media (max-width: 610px) {
  .select__custom__multiple {
    left: -25% !important;
  }
}

@media (max-width: 530px) {
  .select__custom__multiple {
    left: 0 !important;
  }
}

@media (max-width: 500px) {
  .select__custom__multiple {
    left: initial !important;
  }
}
