@import "../../utils/variables.scss";

.flexBox {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.banner__main {
  @include background-img;
  padding-top: 150px;
  position: relative;
  z-index: 1;

  &::before {
    @include content;
    background: #000;
    clip-path: polygon(0 60%, 100% 45%, 100% 100%, 0% 100%);
  }

  a {
    text-decoration: none;

    .title {
      padding: 0 56px;
      width: fit-content;
    }
  }

  .cardinfo__group {
    @extend .flexBox;
    margin-top: 120px;
  }

  .banner__description,
  .aboutus__description {
    @extend .flexBox;
    bottom: 20%;
    justify-content: center;
    margin: auto;
    position: absolute;
    width: 100%;

    p,
    h3 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      text-shadow: $text-shadowY4;
      z-index: 2;
    }

    p {
      width: 80%;
    }
  }

  .aboutus__description {
    align-items: center;
    bottom: 5%;
    flex-direction: column;

    h3 {
      color: var(--cl);
      font-size: 40px;
      text-align: center;
    }
  }
}

@media (min-width: 1700px) {
  .banner__main .aboutus__description {
    bottom: 10%;
  }
}

@media (min-width: 2101px) {
  .banner__main .aboutus__description {
    bottom: 15%;
  }
}
