@import "../../utils/variables.scss";

.card-coaching__box {
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 60px;
  position: relative;
  transform-style: preserve-3d;

  .card-coaching {
    @include card-coach-glass-style(300px, 400px);
    @include bd-blur-gradient;
    overflow: hidden;
    position: relative;
  }

  .card-coaching__elements {
    @include card-coach-glass-style(100px, 100px);
    @include bd-blur-gradient;
    left: -30px;
    position: absolute;
    top: 50px;
    transform: translateZ(70px);

    &.bg {
      .quote {
        color: var(--cl);
        filter: drop-shadow($text-shadowY4);
        font-size: 60px;
        left: 50%;
        position: absolute;
        text-shadow: $text-shadowY4;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.img {
      height: 120px;
      left: initial;
      padding: 10px;
      right: 60px;
      top: 0;
      transform: translateZ(100px);
      width: 120px;

      img {
        border-radius: 8px;
        height: calc(100% - 20px);
        left: 10px;
        object-fit: cover;
        position: absolute;
        width: calc(100% - 20px);
      }
    }

    &.name {
      @include displayFlex;
      align-items: center;
      backdrop-filter: blur(0);
      background: transparent;
      border: none;
      box-shadow: none;
      color: #fff;
      font-weight: 300;
      height: fit-content;
      justify-content: center;
      left: initial;
      padding: 10px;
      text-shadow: $text-shadowY4;
      top: 120px;
      transform: translateZ(90px);
      width: 100%;

      p {
        font-size: 20px;
        margin-left: 10px;
        text-align: center;
      }

      .lane {
        height: 25px;
        width: 25px;
      }
    }

    &.text {
      bottom: 0;
      color: #fff;
      cursor: default;
      font-size: 14px;
      height: fit-content;
      left: initial;
      padding: 10px;
      right: -20px;
      text-align: center;
      text-shadow: $text-shadow;
      top: 170px;
      transform: translateZ(100px);
      width: 85%;

      .btn__pay {
        width: fit-content;
      }

      .coaching__type {
        align-items: center;
        display: flex;
        justify-content: space-evenly;

        .division__chip {
          color: #000000;
          text-shadow: none;

          &.selected {
            background: var(--bg);
            color: #fff;
          }
        }
      }

      .card-coaching__elements__panel {
        .counter {
          margin: auto;
          margin-bottom: 5px;
        }

        .select__currency__container {
          h2 {
            font-size: 24px;
          }
        }

        p {
          margin-bottom: 10px;
        }
      }

      .lock__cancel__btns {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: center;

        button {
          margin: 0;
          margin-bottom: 20px;
          width: 70px;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  .card-coaching__box {
    .card-coaching__elements {
      &.bg {
        height: 70px;
        width: 70px;

        .quote {
          font-size: 40px;
        }
      }
      &.img {
        left: 50%;
        transform: translate(-50%, -25%);
      }

      &.bg,
      &.text {
        left: 0;
      }

      &.text {
        margin: 0px 22px;
      }
    }
  }
}
