@import "../../utils/variables.scss";

.cardinfo__group {
  justify-content: center !important;
}

@media (max-width: 1363px) {
  .boosting {
    .cardinfo__group {
      justify-content: center;

      .cardinfo:nth-last-child(1) {
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 900px) {
  .boosting {
    .cardinfo__group {
      .cardinfo {
        margin-top: 50px;

        &:nth-child(1) {
          margin-top: 0;
        }
      }
    }
  }
}
