@import "../../utils/variables.scss";

.cardinfo__box {
  @include card__box(350px, 400px);

  .cardinfo {
    @include bd-blur-gradient;
    @include border-card;
    border-radius: $border-radius;
    height: 400px;
    position: absolute;
    text-shadow: $text-shadow;
    width: 350px;
  }

  .cardinfo__title {
    color: #fff;
    cursor: default;
    font-size: 24px;
    font-weight: 700;
    margin: auto;
    padding: 24px 43px;
    position: relative;
    text-shadow: $text-shadow;
    transform: translateY(-35%) translateZ(50px);
    width: fit-content;
  }

  .cardinfo__content {
    color: #fff;
    cursor: default;
    padding: 26px;
    padding-top: 0;
    position: relative;
    text-shadow: $text-shadow;
    z-index: 2;
  }

  .icon {
    @include icon__button;

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
