@import "../../utils/variables.scss";

.lines {
  background: radial-gradient(
    circle,
    rgba(1, 22, 41, 1) 20%,
    rgba(1, 16, 28, 1) 58%
  );
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.lines__container {
  height: 100%;
  overflow: auto;
  padding-top: 100px;
}

.circle {
  animation: animale-lines 20s linear infinite;
  aspect-ratio: 1/1;
  background-color: #0efafa;
  border-radius: 50%;
  bottom: 0;
  box-shadow: 0 0 10px #0efafa, 0 0 20px #0efafa, 0 0 30px #0efafa,
    0 0 40px #0efafa;
  opacity: 0;
  position: absolute;
  width: 20px;

  &:nth-last-child(1) {
    left: calc(100% - 20px) !important;
  }

  &::before {
    background: linear-gradient(#0efafa, transparent);
    content: "";
    height: 100vh;
    left: 25%;
    opacity: 0.5;
    position: absolute;
    top: 100%;
    width: 50%;
  }
}

@keyframes animale-lines {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-100vh);
  }
}
