@import "../../utils/variables.scss";

.card__plan {
  background: rgba(0, 0, 0, 0.5);
  @include bd-blur-black;
  @include border-card;
  border-radius: $border-radius;
  width: 350px;
  height: 450px;
  color: #fff;
  padding: 26px;
  text-shadow: $text-shadow;

  .card__plan__title {
    margin: 15px auto;
    text-transform: uppercase;
  }

  .card__plan__info {
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
  }
}
