// box-shadows
$box-shadow25: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow50: 0px 4px 4px rgba(0, 0, 0, 0.5);

// backdrop-filter> blur
$bd-filter: blur(10px);

// border
$border-radius: 20px;
$border-radius-cards: solid 2px rgba(0, 0, 0, 0.5);

//text -shadow
$text-shadow-title: 2px 4px 6px rgba(0, 0, 0, 1);
$text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
$text-shadow-solid: 0 0 4px rgba(0, 0, 0, 1);
$text-shadowY4: 0 4px 4px rgba(0, 0, 0, 0.5);

// division colors
$color-iron: #4a3d38;
$color-bronze: #563833;
$color-silver: #516c7e;
$color-gold: #734c20;
$color-platinum: #019a91;
$color-diamond: #4464b4;
$color-master: #9a3dac;
$color-grandmaster: #652324;
$color-challenger: #02224f;
$color-gray: #6b6b6b;

// background
$color-green-whatsapp: #41c653;
$color-purple-boosting: #d441ff;
$color-green-coaching: #00de8a;
$color-blue-placements: #39c5d6;
$color-red-coaching: #ff3147;
$color-gold-coach: #c8aa6e;
$background-rainbow: linear-gradient(
  90deg,
  #d441ff 0%,
  #0efafa 50.03%,
  #00de8a 98.42%
);

@mixin border-card {
  border: $border-radius-cards;
  border: solid 2px rgba($color: #000, $alpha: 0.1);
  border-right: none;
  border-top: none;
}

@mixin rainbow-text {
  background: $background-rainbow;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: default;
  filter: drop-shadow($text-shadow-title);
  font-size: 48px;
  font-weight: 700;
  padding: 5px;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

@mixin bd-blur-black {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: $box-shadow50;
}

@mixin bd-blur-white {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: $box-shadow50;
}

@mixin bd-blur-gradient {
  @include bd-blur-black;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

@mixin purple-boosting {
  background-color: $color-purple-boosting;
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow50;
  color: #fff;
  font-size: 18px;
  padding: 19px 90px;
  text-shadow: $text-shadowY4;
}

@mixin background-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://images3.alphacoders.com/112/thumb-1920-1123064.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  min-height: 100vh;
  padding-top: 50px;
  width: 100%;
}

@mixin card__box($width, $height) {
  border-radius: 15px;
  display: inline-block;
  height: $height;
  margin-bottom: 60px;
  position: relative;
  transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: $width;
}

@mixin icon__button {
  border-radius: 50%;
  box-shadow: $box-shadow50;
  cursor: pointer;
  height: 70px;
  padding: 15px;
  position: absolute;
  text-shadow: $text-shadow;
  transform: translateX(-50%) translateZ(50px);
  width: 70px;
  z-index: 2;
}

@mixin displayFlex {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

@mixin generate__bg($color, $alpha) {
  background: rgba($color, $alpha);
}

@mixin content {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin text-number__input {
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  gap: 10px;
  justify-content: center;
  text-shadow: $text-shadowY4;

  .counter__value {
    background: #fff;
    border: 1px solid var(--bg);
    border-radius: 20px;
    box-shadow: $box-shadow25;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 24px;
    text-shadow: $text-shadowY4;
    width: 112px;
  }
}

@mixin select__arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid black;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

@mixin selectStyled {
  @include displayFlex;
  appearance: none;
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow25;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  justify-content: center;
  outline: none;
  position: relative;
  width: 150px;

  &:active {
    border: none;
    outline: none;
  }

  option {
    background-color: #fff;
    color: #000;
  }
}

@mixin card-coach-glass-style($width, $height) {
  backdrop-filter: blur(10px);
  background-color: rgba($color: #fff, $alpha: 0.1);
  border-bottom: solid 1px rgba($color: #fff, $alpha: 0.5);
  border-left: solid 1px rgba($color: #fff, $alpha: 0.5);
  border-radius: 15px;
  box-shadow: 0 25px 45px rgba($color: #000000, $alpha: 0.5);
  height: $height;
  transform-style: preserve-3d;
  width: $width;
}

@mixin cardBox {
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 60px;
  position: relative;
  transform-style: preserve-3d;
}

@mixin cardBoxElements {
  @include bd-blur-gradient;
  position: absolute;
  transform: translateZ(70px);

  &.img {
    height: 120px;
    left: initial;
    padding: 10px;
    right: 60px;
    top: 0;
    transform: translateZ(100px);
    width: 120px;

    img {
      border-radius: 8px;
      height: calc(100% - 20px);
      left: 10px;
      object-fit: cover;
      position: absolute;
      width: calc(100% - 20px);
    }
  }

  &.name {
    @include displayFlex;
    align-items: center;
    backdrop-filter: blur(0);
    background: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
    font-weight: 300;
    height: fit-content;
    justify-content: center;
    left: initial;
    padding: 10px;
    text-shadow: $text-shadowY4;
    top: 120px;
    transform: translateZ(90px);
    width: 100%;

    p {
      font-size: 20px;
      margin-left: 10px;
      text-align: center;
    }

    .lane {
      height: 25px;
      width: 25px;
    }
  }

  &.text {
    bottom: 0;
    color: #fff;
    cursor: default;
    font-size: 14px;
    height: fit-content;
    left: initial;
    padding: 10px;
    right: -20px;
    text-align: center;
    text-shadow: $text-shadow;
    top: 170px;
    transform: translateZ(100px);
    width: 85%;
  }
}
