// box-shadows
$box-shadow25: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow50: 0px 4px 4px rgba(0, 0, 0, 0.5);

// backdrop-filter> blur
$bd-filter: blur(10px);

// border
$border-radius: 20px;
$border-radius-cards: solid 2px rgba(0, 0, 0, 0.5);

//text -shadow
$text-shadow-title: 2px 4px 6px rgba(0, 0, 0, 1);
$text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
$text-shadowY4: 0 4px 4px rgba(0, 0, 0, 0.5);

// background
$color-purple-boosting: #d441ff;
$color-green-coaching: #00de8a;
$color-blue-placements: #39c5d6;
$color-red-coaching: #ff3147;
$color-gold: #c8aa6e;
$background-rainbow: linear-gradient(
  90deg,
  #d441ff 0%,
  #0efafa 50.03%,
  #00de8a 98.42%
);

@mixin border-card {
  border: $border-radius-cards;
  border: solid 2px rgba($color: #000, $alpha: 0.1);
  border-top: none;
  border-right: none;
}

@mixin rainbow-text {
  background: $background-rainbow;
  background-clip: text;
  padding: 5px;
  filter: drop-shadow($text-shadow-title);
  font-weight: 700;
  font-size: 48px;
  width: fit-content;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin bd-blur-black {
  backdrop-filter: blur(10px);
  box-shadow: $box-shadow50;
  background: rgba(0, 0, 0, 0.5);
}

@mixin bd-blur-white {
  backdrop-filter: blur(10px);
  box-shadow: $box-shadow50;
  background: rgba(255, 255, 255, 0.2);
}

@mixin bd-blur-gradient {
  @include bd-blur-black;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}

@mixin purple-boosting {
  background-color: $color-purple-boosting;
  color: #fff;
  text-shadow: $text-shadowY4;
  padding: 19px 90px;
  border: none;
  border-radius: $border-radius;
  font-size: 18px;
  box-shadow: $box-shadow50;
}

@mixin background-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://images3.alphacoders.com/112/thumb-1920-1123064.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 50px;
}
