@import "../../utils/variables.scss";

.order__summary {
  height: 100%;
  position: relative;
  width: 100%;

  .preference__panel .form__container {
    color: #fff;
    flex-direction: column;
    text-shadow: $text-shadowY4;

    h3 {
      margin-bottom: 20px;
      margin-top: 50px;
    }

    .order__summary__container {
      background-color: var(--cl);
      height: 100%;
      min-height: 170px;
      padding: 20px;
      width: 100%;

      p {
        font-size: 14px;
        font-weight: 100;
        padding: 5px 20px;
        text-align: left;

        b {
          font-size: 16px;
          font-weight: 700;
        }
      }

      .no__order {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        svg {
          filter: drop-shadow($box-shadow50);
        }

        &:nth-last-child(1) {
          display: none;
        }
      }
    }

    .order__summary__total {
      position: relative;

      h3 {
        margin-top: 20px;
      }

      .button-sections {
        @include displayFlex;

        .reset {
          background-color: #fff;
          border-radius: 50%;
          box-shadow: $box-shadow50;
          color: var(--cl);
          cursor: pointer;
          font-weight: bolder;
          height: 50px;
          padding: 1em;
          transition: ease-in-out 0.5s all;
          width: 50px;

          &:hover {
            box-shadow: none;
            transform: rotate(-360deg);
          }
        }
      }
    }
  }
}

@media (max-width: 1283px) {
  .order__summary {
    margin: auto;
    max-width: 400px;
    min-width: 350px;
  }
}

@media (max-width: 840px) {
  .order__summary {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .order__summary {
    min-width: 100%;
  }
}
