@import "./utils/variables.scss";

* {
  font-family: "Exo", sans-serif;
  font-style: normal;
  text-align: center;
}

.App {
  background-color: #000;
  position: relative;
}

.boosting-text {
  color: $color-purple-boosting;
}

.text-gold {
  color: $color-gold-coach;
}

.coaching-text {
  color: $color-green-coaching;
}

.purple {
  @include purple-boosting;
}

.green {
  @extend .purple;
  background-color: $color-green-coaching;
}

.blue {
  @extend .purple;
  background-color: $color-blue-placements;
}

.container {
  margin: auto;
  width: 80%;
}

.container-lg {
  margin: auto;
  width: 90%;
}

.btn {
  cursor: pointer;
  position: relative;
}

footer {
  @include displayFlex;
  height: 100px;
  position: relative;
  z-index: 2;

  p {
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-shadow: $text-shadow;
    z-index: 2;
  }
}

.division__icon,
.division__chip {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: $box-shadow50;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.division__chip {
  border-radius: 20px;
  padding: 0 16px;
  width: fit-content;
}

.logo {
  height: 100px;
  width: 100px;
  z-index: 10;

  &.main {
    height: 200px;
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
}

.btn__pay {
  @include displayFlex;
  background-color: var(--cl);
  border: none;
  border-radius: 20px;
  box-shadow: $box-shadow50;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  margin: 20px auto;
  padding: 14px;
  text-shadow: $text-shadowY4;
  width: 200px;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  &.cancel {
    background-color: #fff;
    color: #000;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 1150px) {
  .logo.main {
    margin: 0;
  }
}

@media (max-width: 1150px) {
  .home {
    padding-bottom: 50px;
    padding-top: 250px;
  }

  .logo.main {
    top: 125px;
  }
}

@media (max-width: 425px) {
  .container {
    width: 350px;
  }
}
